body {
  margin: 0;
  font-family:
    Nunito Sans,
    Arial;
}

body * {
  box-sizing: border-box;
}

.container {
  max-width: 1256px;
  margin: 0 auto;
  border: 0;
  position: relative;
}

button {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  color: white;
  font-style: italic;
  text-transform: uppercase;
  font-size: 11px;
}

.logo {
  color: #e3b873;
}

.header {
  background-color: black;
}

.header-content {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
  font-size: 11px;
}

.header-navigation {
  list-style: none;
  display: flex;
}

.header-navigation__item {
  margin-right: 47px;
}

.header-navigation__item a {
  text-decoration: none;
  color: white;
}

.header-navigation__item a.active {
  color: #e3b873;
}

.phone {
  color: #e3b873;
  text-decoration: underline;
}

/* === Секция 1 Hero === */

.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  height: 707px;
  position: relative;
  padding-top: 194px;
  padding-right: auto;
}

.hero-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero-container {
  position: relative;
  z-index: 1;
  padding-left: 42px;
}

.title {
  margin: 0;
  font-family: "Yeseva One", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
}

.gold-text {
  color: #e3b873;
}

.hero-container p {
  max-width: 504px;
  width: 100%;
  margin: 19px 0 41px 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 164%;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
}

.hero-buttons .button {
  margin-right: 20px;
}

.hero-buttons .button:last-child {
  background: transparent;
  border: 1px solid white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 12px 32px;
}

/* === Секция 2 Completed Projects === */
.completed-projects {
  background-color: #131313;
  padding: 107px 0 0 0;
  color: #fff;
  height: 1074px;
}

.project-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.projects-navigation {
  display: flex;
  gap: 60px;
  margin-bottom: 45px;
  justify-content: flex-end;
}

.project-tab {
  font-family: "Yeseva One", "Times New Roman", Times, serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  padding: 7px 0;
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.project-tab.active {
  color: #e3b873;
}

.project-tab.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e3b873;
}

.project-tab:hover {
  color: white;
}

.projects-content {
  display: flex;
  gap: 50px;
}

.project-info {
  max-width: 442px;
  padding-left: 42px;
}

.project-title {
  font-family: "Yeseva One", "Times New Roman", Times, serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 139%;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e3b873;
  margin: 0 0 34px 0;
}

.project-description {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  line-height: 27px;
  margin: 0 0 42px 0;
}

.project-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px 30px;
  margin-bottom: 75px;
}

.detail-item {
  display: flex;
  flex-direction: column;
}

.detail-title {
  font-family: "Yeseva One", serif;
  font-size: 18px;
  line-height: 139%;
  text-transform: uppercase;
  color: #e3b873;
  margin: 0 0 9px 0;
}

.detail-value {
  font-family: "Nunito Sans", sans-serif;
  font-size: 13px;
  line-height: 21px;
  color: #fff;
  margin: 0;
}

.slider-controls {
  display: flex;
  align-items: center;
  gap: 30px;
}

.slider-arrow {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.slider-arrow:hover {
  opacity: 1;
}

.slider-dots {
  display: flex;
  gap: 18px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.dot.active {
  background-color: #fff;
}

.project-image-wrapper {
  flex: 1;
}

.project-image {
  height: 482px;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* === Секция 3 Online Control === */

.o-control {
  padding: 0;
  color: #fff;
  margin-top: -324px;
}

.control {
  font-family: "Yeseva One", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
}

.kamera {
  display: block;
  margin: 13px auto 31px auto;
}

.video {
  text-align: center;
}

.videoplay img {
  filter: brightness(20%);
}

.play-button {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
  margin-top: -286px;
}

.trait {
  height: 2px;
  width: 55px;
  border: none;
  background-color: #e3b873;
  margin: 230px auto 34px auto;
}

.online-control p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  color: #363636;
  margin-bottom: 92px;
  margin-top: 34px;
}

.section_input {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "name tel submit"
    "checkbox checkbox checkbox";
  grid-column-gap: 58px;
  grid-row-gap: 37px;
  width: 285px;
  padding-left: 300px;
}

.name {
  grid-area: name;
}

.tel {
  grid-area: tel;
}

.b-in {
  grid-area: submit;
}

.one-checkbox {
  display: flex;
  grid-area: checkbox;
  justify-content: center;
}

.input {
  border-style: none none solid none;
  border-color: #363636;
  border-width: 1px;
  width: 231px;
}

.form {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}

.input::placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
}

.button-input {
  font-size: 13px;
  line-height: 27px;
  padding: 11px 75px;
  font-style: normal;
  width: 200px;
}

.label {
  cursor: pointer;
}

.checkbox {
  display: none;
}

.real-checkbox {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #e3b873;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
}

.real-checkbox::before {
  opacity: 0;
  transition: 0.2s;
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin-top: -4px;
}

.checkbox:checked + .real-checkbox::before {
  opacity: 1;
}

.text_checkbox {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 163.68%;
  color: #181818;
}

/* Секция 4 Types Of Repair */

.types-of-repair {
  padding: 0;
  color: #fff;
  margin-top: 148px;
}

.tor-title {
  font-family: "Yeseva One", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 139%px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-top: 0;
}

.instrument-icon {
  display: block;
  margin: 13px auto 31px auto;
}

.main-repair-all-blocks {
  margin-top: 31px;
  display: flex;
  justify-content: space-between;
  height: 608px;
}

.block-redecorating {
  max-width: 392px;
  height: 421px;
  padding-left: 31px;
  padding-right: 31px;
  background: center no-repeat url("../images/redecorating.png");
  background-size: cover;
}

.main-repair-content {
  width: 330px;
  height: 286px;
  background: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  margin-top: 294px;
  color: #959595;
  padding-left: 34px;
}

.main-repair-content ul {
  padding-left: 0px;
  height: 178px;
}

.main-repair__h4 {
  font-family: "Yeseva One", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%px;
  text-align: left;
  color: #363636;
  padding-top: 25px;
  margin-bottom: 13px;
}

.main-repair__li {
  font-size: 13px;
  list-style: none;
  line-height: 27px;
}

.main-repair__price {
  font-family: "Yeseva One", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  z-index: 10;
  bottom: 0px;
  position: relative;
  left: -34px;
  border-radius: 0px;
}

.block-overhaul {
  max-width: 392px;
  height: 421px;
  padding-left: 31px;
  padding-right: 31px;
  background: center no-repeat url("../images/overhaul.png");
  background-size: cover;
}

.block-designer-repair {
  max-width: 392px;
  height: 421px;
  padding-left: 31px;
  padding-right: 31px;
  background: center no-repeat url("../images/designer-repair.png");
  background-size: cover;
}

/* Секция 5 Measure */
.measure {
  padding: 0;
  background: left top / auto no-repeat url("../images/measure-image.png");
  margin-top: 124px;
  height: 726px;
  display: flex;
  justify-content: space-between;
}

.measure .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.measure-left-block {
  padding-top: 117px;
  height: 645px;
}

.measure__list {
  margin: 0;
  padding-left: 249px;
  height: 473px;
}

.measure__list li {
  position: relative;
  margin-bottom: 114px;
  list-style-type: none;
  padding-left: 59px;
  color: #363636;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.4;
  min-height: 14px;
}

.measure__list li:last-child {
  margin-bottom: 0px;
}

.measure__list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  background-color: #e3b873;
  border-radius: 50%;
  box-sizing: border-box;
}

.measure__list li:after {
  content: "";
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 58px;
  height: 58px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.15); /* тень x 0, y 5, blur 15, цвет #E3B873 15% */
  z-index: 1;
}

.measure__list li .number {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Yeseva One", serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  z-index: 2;
}

.measure-right-block {
  margin-top: 106px;
  background-color: #131313;
  height: 509px;
  width: 506px;
}

.form-title {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 143%;
  color: #ffffff;
  height: 47px;
  margin-top: 28px;
  text-align: center;
}

.measure-input {
  display: flex;
  flex-direction: column;
  margin-top: 39px;
  margin-left: 49px;
  width: 408px;
}

.input2-1,
.input2-2,
.input2-3 {
  background-color: #131313;
  border-style: none none solid none;
  border-color: rgba(255, 255, 255, 0.15);
  border-width: 1px;
  width: 408px;
  padding-bottom: 2px;
}

.input2-1,
.input2-2 {
  margin-bottom: 48px;
}

.input2-3 {
  margin-bottom: 16px;
}

.form2 {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 164%;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0px;
}

.input2-1::placeholder,
.input2-2::placeholder,
.input2-3::placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 164%;
  color: #ffffff;
}

.text_checkbox2 {
  display: block;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 164%;
  color: #ffffff;
  margin-top: -22px;
  width: 260px;
}

.marg {
  margin-left: 73px;
}

.label2 {
  margin-left: 49px;
}

.measure .button {
  font-style: normal;
  border-radius: 0px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 164%;
  margin-left: 244px;
  margin-top: 39px;
}

.pig {
  display: flex;
  align-items: center;
  margin-top: 66px;
  padding-left: 49px;
  height: 72px;
}

.pig-circle {
  width: 72px;
  height: 72px;
  background-color: #e3b873;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.2);
}

.pig-icon {
  width: 40px;
  height: 33px;
  background-image: url("../icons/pig.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 1;
}

.pig-text {
  margin-left: 25px;
}

.pig-text p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #e3b873;
  line-height: 143%;
  margin: 0;
}

/* Секция 6 Fantasies */

.fantasies {
  position: relative;
  padding: 0;
  background: no-repeat center / cover url("../images/fantasies-background.png");
  margin-top: 242px;
  height: 864px;
  overflow: visible;
}

.f-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  z-index: 1;
}

.fantasies .container {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.fantasies-nav {
  height: 629px;
  padding-top: 137px;
}

.fantasies-h2 {
  font-family: "Yeseva One", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  color: #e3b873;
  line-height: 139%;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 47px;
}

.fantasies-links {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.fantasies-links li {
  margin-bottom: 23px;
}

.fantasies-links li a {
  font-family: "Nunito sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.fantasies-links li a.active-btn {
  display: inline-block;
  border-bottom: 1px solid #e3b873;
  font-family: "Nunito sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e3b873;
  font-size: 20px;
  line-height: 191%;
}

.fantasies-images {
  display: flex;
  gap: 43px;
  z-index: 2;
}

.fantasies-column {
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.fantasies-column:first-child {
  margin-top: -40px;
}

.fantasies-column:last-child {
  margin-top: -112px;
}

.fantasies-img {
  display: block;
  object-fit: cover;
}

/* Секция 7 Our Clients */

.our-clients {
  position: relative;
  padding: 0;
  color: #fff;
  margin-top: 109px;
  height: 996px;
  z-index: 1;
}

.our-clients::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 776px;
  opacity: 0.05;
  z-index: 2;
  background:
    bottom left / auto no-repeat url("../images/clients-left.png"),
    bottom right / auto no-repeat url("../images/clients-right.png");
}

.our-clients .container {
  height: 642px;
}

.oc-title {
  font-family: "Yeseva One", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 139%px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  padding-top: 0;
}

.hands-icon {
  display: block;
  margin: 13px auto 24px auto;
}

.main-text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 164%;
  text-align: center;
  color: #363636;
  margin: 0 auto 39px auto;
}

.our-clients-all-blocks {
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  height: 455px;
  z-index: 10;
}

.block-client {
  position: relative;
  max-width: 376px;
  height: 428px;
  padding-left: 20px;
  padding-right: 31px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.client-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  gap: 20px;
}

.client-photo {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  z-index: 20;
}

.client-photo .photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-clients__h4 {
  font-family: "Yeseva One", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 127%;
  text-align: left;
  color: #181818;
  margin: 0;
}

.block-client p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  text-align: left;
  color: #959595;
  padding-top: 39px;
  margin: 0;
}

.info-btn-container {
  position: absolute;
  left: 0;
  bottom: -24px;
}

.info-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3b873;
  border: none;
  border-radius: 0px;
  padding: 0 12px;
  cursor: pointer;
  gap: 20px;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  z-index: 10;
}

.info-block {
  display: flex;
  align-items: center;
  gap: 16px;
}

.info-icon {
  width: 32px;
  height: 32px;
}

.info-text {
  font-family: "Yeseva One", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 139%;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 10;
  position: relative;
  border-radius: 0px;
  white-space: nowrap;
}

.info-divider {
  width: 1px;
  height: 48px;
  background-color: #ffffff;
}

/* Секция 8 Last */

.last {
  position: relative;
  margin-top: 0px;
  height: 954px;
  padding: 0;
  background: no-repeat center / cover url("../images/last-image.jpg");
  z-index: 1;
}

.last-overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(24, 24, 24, 0.9) 3.47%,
    rgba(24, 24, 24, 0.72) 100%
  );
}

.last .container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-form {
  width: 883px;
  height: 445px;
  background: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -222px;
}

.last-form__h3 {
  font-family: "Yeseva One", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 139%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 10px;
}

.last_input_name_phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
}

.input_last_1,
.input_last_2,
.input_last_3 {
  background-color: #181818;
  border-style: none none solid none;
  border-color: rgba(255, 255, 255, 0.15);
  border-width: 1px;
  padding-bottom: 7px;
}

.input_last_1,
.input_last_2 {
  width: 231px;
}

.input_last_3 {
  width: 517px;
}

.last-name {
  margin-right: 54px;
}

.input_last_1::placeholder,
.input_last_2::placeholder,
.input_last_3::placeholder {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
}

.label_last {
  margin-top: 48px;
  margin-bottom: 40px;
}

.question_last {
  margin-top: 48px;
}

.marg2 {
  margin-left: 22px;
}

.last .button {
  border-radius: 0px;
  line-height: 205%;
}

.last-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 52px;
}

.last-text-adress {
  font-family: "Yeseva One", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 139%;
  text-align: center;
  text-transform: uppercase;
  color: #e3b873;
  margin: 0px;
}

.last-adress {
  width: auto;
  max-width: 589px;
  text-align: center;
  margin: 0;
}

.last-icon {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 26px 0;
}

.last_map {
  margin-top: 43px;
}
